* {
  /* border: 1px solid red; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;

  /* max-width: 1310px; */
  margin: 0 auto;
  min-width: 367px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 22px;

  /* color: rgb(153, 245, 117); */
}

h2 {
  font-size: 16px;
  color: #555;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 14px;
}

svg {
  fill: white;
  width: 100%;
}

.grey {
  color: rgba(39, 39, 39, 0.5);
}

.greydark {
  color: #555;
}

.h1-link {
  color: black;
}

.h1-link:hover {
  text-decoration-color: red;
  color: black;
}

.redhover:hover {
  color: red;
}

.red-top {
  border-top: 5px solid rgb(241, 12, 69);
  padding-top: 1px;
}

.blue-top {
  border-top: 5px solid rgb(43, 32, 189);
  padding-top: 1px;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  margin: 15px auto;
}

img {
  width: 100%;
  object-fit: contain;
}

.the-debate img {
  height: 95px;
  width: 95px;
}

.the-debate .face {
  height: 63px;
  width: 63px;
}

.opinion img {
  height: 63px;
  width: 63px;
}

.more-stories {
  /* background-color: #343; */
}

.culture-travel {
  /* background-color: #383; */
}

.latest-news {
}

.sign-up {
}

.in-magazine {
}

.editors-pick {
}

.slideshows {
}

.subscribe {
}

.newsletter {
}

footer {
  height: 500px;
  background-color: #532;
}
